<div class="center mb6 mt7">
    <h1 class="alt-h1 mb0">Hi. Welcome to the EWARS User Guidance.</h1>
    <p class="subtitle">Select a guide below to get started, or browse the full guidance using the menu on the left.</p>
</div>
<div class="border-box flex justify-center">
    <div class="g-container border-box border mr2 px3 py1 center">
        <img class="index-img pb1 pt3" src="assets/img/using-ewars.svg">
        <h1 class="mb2 mt1">Using EWARS</h1>
        <p class="pb2">Quick-start guide for users in the field. How to get up and running quickly!</p>
        <p class=""><a href="#/users">Browse all articles</a></p>
    </div>
    <div class="g-container border-box border mx0 px3 py1 center">
        <img class="index-img pt2" src="assets/img/ewars-administration.svg">
        <h1 class="mb2 mt1">EWARS Administration</h1>
        <p class="pb2">Want to configure EWARS for your country or organization? Look no further!</p>
        <p class=""><a href="#/admin">Browse all articles</a></p>
    </div>
</div>